VITE_FIREBASE_API_KEY=SUA_API_KEY
VITE_FIREBASE_AUTH_DOMAIN=relatorio-clinica.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=relatorio-clinica
VITE_FIREBASE_STORAGE_BUCKET=relatorio-clinica.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=409549348235
VITE_FIREBASE_APP_ID=1:409549348235:web:891fd4e1ded7ae6509238e
VITE_REPORT_APP_ID=clinica-app-v1
